# Configuration file

announcement {
    # An announcement to be periodically displayed to every player, disabled with an empty string [default: ]
    S:announcement="Rate this modpack on MMCReviews (Thank you!). And UwU~... I guess?"

    # How frequently the announcement will be shown to all players, 4 hours by default (at 20 tps) [range: 20 ~ 2147483647, default: 288000]
    I:announcementInterval=2880000

    # URL to be displayed after the announcement, disabled with an empty string [default: ]
    S:url="https://youtu.be/R4dM73zLrUE?si=0Uy1UyDzyhalRHsM"
}


